version: '3.9'

services:
  authelia:
    container_name: authelia
    image: authelia/authelia:latest
    environment:
      - TZ=Asia/Kuching
    volumes:
      - ./config:/config
    ports:
      - 9091:9091
    networks:
      - proxy
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.authelia.rule=Host(`auth.local.example.com`)'
      - 'traefik.http.routers.authelia.entrypoints=https'
      - 'traefik.http.routers.authelia.tls=true'
      - 'traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://auth.local.example.com'
      - 'traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true'
      - 'traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email'
    healthcheck:
      disable: true
      
networks:
  proxy:
    external: true